# Секретные данные и настройки
.env
db.sqlite3

# Временные файлы Python (кэш компиляции)
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение (зависит от того, как вы его назвали)
venv/
.venv/
env/

# Медиа-файлы и статика (чтобы не забивать гит загруженными картинками)
media/
staticfiles/
static/
source/

# Настройки вашей среды разработки (IDE)
.vscode/
.idea/

# Файлы операционной системы
.DS_Store
Thumbs.db
