{% load static %}
<div class="site-section section-4">
      <div class="container">

        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <div class="slide-one-item owl-carousel">
              <blockquote class="testimonial-1">
                <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                <p>Команда полностью оправдала наши ожидания. Работа выполнена точно в срок, а внимание к деталям и качеству материалов приятно удивило. Обязательно обратимся снова!</p>
                <cite><span class="text-black">Майк Дорни</span> &mdash; <span class="text-muted">Генеральный директор и сооснователь</span></cite>
              </blockquote>

              <blockquote class="testimonial-1">
                <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                <p>Исключительный уровень профессионализма на каждом этапе проекта. Нам помогли оптимизировать расходы без потери в качестве дизайна. Рекомендую как надежного партнера.</p>
                <cite><span class="text-black">Джеймс Смит</span> &mdash; <span class="text-muted">Генеральный директор и сооснователь</span></cite>
              </blockquote>

              <blockquote class="testimonial-1">
                <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                <p>Очень довольны разработанной концепцией интерьера. Все наши пожелания были услышаны и технически грамотно реализованы. Спасибо за отличный результат!</p>
                <cite><span class="text-black">Майк Дорни</span> &mdash; <span class="text-muted">Генеральный директор и сооснователь</span></cite>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
