{% load static %}
<div class="site-section">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7">
            <h2 class="heading-39291 mb-0">Чем мы занимаемся</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="{% static 'fonts/flaticon/svg/001-stairs.svg' %}" alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Дизайн лестниц</a></h3>
              <p>Проектируем уникальные и безопасные лестничные конструкции, идеально вписывающиеся в ваш интерьер.</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="{% static 'fonts/flaticon/svg/002-kitchen.svg' %}" alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Дизайн кухонь</a></h3>
              <p>Создаем эргономичные и стильные кухонные зоны, совмещая эстетику с максимальным удобством.</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="{% static 'fonts/flaticon/svg/003-lamp.svg' %}" alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Декоративное освещение</a></h3>
              <p>Подбираем и расставляем световые акценты, которые подчеркивают достоинства планировки.</p>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="{% static 'fonts/flaticon/svg/004-blueprint.svg' %}" alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Чертежи интерьера</a></h3>
              <p>Готовим полный пакет детальной технической документации и планов для строительной бригады.</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="{% static 'fonts/flaticon/svg/005-dinning-table.svg' %}" alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Обеденные зоны</a></h3>
              <p>Разрабатываем концепции столовых групп и подбираем мебель для уютных семейных ужинов.</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="{% static 'fonts/flaticon/svg/006-pantone.svg' %}" alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Современный дизайн</a></h3>
              <p>Интегрируем передовые мировые тренды отделки и цветовых палитр в ваше пространство.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
