{% load static %}
<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7">
            <h2 class="heading-39291">Блог и обновления</h2>
            <p>Следите за последними новостями нашей компании, полезными статьями и важными изменениями в сфере нашей работы.</p>
            
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              
              <div class="post-entry-1-contents">
                <span class="meta">30 сентября 2019</span>
                <h2><a href="#">Как эффективно масштабировать бизнес в этом году</a></h2>
                <p class="my-3"><a href="#" class="more-39291">Читать далее</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              
              <div class="post-entry-1-contents">
                <span class="meta">30 сентября 2019</span>
                <h2><a href="#">Главные тренды и изменения в нашей индустрии</a></h2>
                <p class="my-3"><a href="#" class="more-39291">Читать далее</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              
              <div class="post-entry-1-contents">
                <span class="meta">30 сентября 2019</span>
                <h2><a href="#">Интервью с ведущими экспертами нашей команды</a></h2>
                <p class="my-3"><a href="#" class="more-39291">Читать далее</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              
              <div class="post-entry-1-contents">
                <span class="meta">30 сентября 2019</span>
                <h2><a href="#">Отчет об итогах работы и планах на будущее</a></h2>
                <p class="my-3"><a href="#" class="more-39291">Читать далее</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
